label {
    display:            block;
    font-weight:        bolder;
}

input[type=text] {
    width:              95%;
    padding:            0.5em;
}

p {
    margin-bottom:      0;
}
p.more-info {
    margin:             0 auto;
    padding:            0;
    font-style:         italic;
    color:              gray;
    display:            block;
}

body > div {
    width:              400px;
    margin:             auto;
    border:             1px solid darkgrey;
    border-radius:      5px;
    background-color:   #eee;
    padding:            1em;
}

div.spacer {
    border:             0;
    height:             1em;
    background:         transparent;
}

header {
    font-size:          40px;
    text-align:         center;
    margin:             1em;
}