body {
    min-width:  250px;
    text-align: center;
    background-color: #5b5b5b;
}

p, h1 {
    margin:  0;
    padding: 0;
}

h1 {
    color:      #20943e;
}

table {
    margin:     1em auto;
}

td {
    text-align: right;
    margin:     0;
    padding:    0;
}

footer {
    font-style:     italic;
    text-align:     center;
    color:          #eeeeee;
    font-weight:    bold;
}

.shortcut-div {
    border:         1px solid #5b5b5b;
    border-radius:  1em;
    padding:        1em 0 0.25em 0;
    margin:         0.5em 0;
    background-color: #e5e5e5;
}